@page "/ingredients"
@rendermode InteractiveServer
@using RecipeApp.Classes

@code{
    private bool DisplayAddIngredientModal = false;
    private bool DisplayEditIngredientModal = false;
    private string IngredientName;
    private IngredientType IngredientType;
    private decimal IngredientPrice = 0.00m;
    private int IngredientAmount = 1;
    private Ingredient? SelectedIngredient;
    private int SelectedAmount;

    private void AddIngredientButton()
    {
        DisplayAddIngredientModal = true;
    }

    private void EditIngredientButton(Ingredient ingredient, int amount)
    {
        SelectedIngredient = ingredient;
        SelectedAmount = amount;

        IngredientName = SelectedIngredient.Name;
        IngredientType = SelectedIngredient.Type;
        IngredientPrice = SelectedIngredient.Price;
        IngredientAmount = SelectedAmount;
        
        DisplayEditIngredientModal = true;
    }

    private void DeleteIngredientButton(Ingredient ingredient, int amount)
    {
        ingredient.RemoveIngredient(amount);
    }

    private void SaveIngredient()
    {
        Ingredient ingredient = new Ingredient(IngredientName, IngredientType, IngredientPrice);
        ingredient.AddIngredient(IngredientAmount);

        IngredientName = string.Empty;
        IngredientType = IngredientType.None;
        IngredientPrice = 0.00m;
        IngredientAmount = 1;

        DisplayAddIngredientModal = false;
        DisplayEditIngredientModal = false;
    }

    private void EditIngredient()
    {
        if (SelectedIngredient != null)
        {
            SelectedIngredient.Name = IngredientName;
            SelectedIngredient.Type = IngredientType;
            SelectedIngredient.Price = IngredientPrice;
            SelectedIngredient.AddIngredient(IngredientAmount - SelectedAmount);
        }

        IngredientName = string.Empty;
        IngredientType = IngredientType.None;
        IngredientPrice = 0.00m;
        IngredientAmount = 1;

        DisplayAddIngredientModal = false;
        DisplayEditIngredientModal = false;
    }
}

<PageTitle>Ingredients</PageTitle>

<h1>Ingredients</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Price</th>
        <th>Value</th>
        <th>Action</th>
    </tr>
    @foreach (var ingredient in Classes.App.Ingredients)
    {
        <tr>
            <td>@ingredient.Key.Name</td>
            <td>@ingredient.Key.Type</td>
            <td>@ingredient.Key.Price</td>
            <td>@ingredient.Value</td>
            <td>
                <button @onclick="() => EditIngredientButton(ingredient.Key, ingredient.Value)">Edit</button>
                <button @onclick="() => DeleteIngredientButton(ingredient.Key, ingredient.Value)">Delete</button>
            </td>
        </tr>
    }
</table>

<button @onclick="AddIngredientButton">Add Ingredient</button>

@if (DisplayAddIngredientModal)
{
    <form @onsubmit="SaveIngredient">
        <label>Name:</label><br>
        <input type="text" @bind="IngredientName" maxlength="30"><br>

        <label>Type:</label><br>
            <select @bind="IngredientType">
                <option>@IngredientType.Vegetable</option>
                <option>@IngredientType.Fruit</option>
                <option>@IngredientType.Grain</option>
                <option>@IngredientType.Legume</option>
                <option>@IngredientType.Dairy</option>
                <option>@IngredientType.Egg</option>
                <option>@IngredientType.Meat</option>
                <option>@IngredientType.Seafood</option>
                <option>@IngredientType.Poultry</option>
                <option>@IngredientType.Sweetener</option>
                <option>@IngredientType.Liquid</option>
                <option>@IngredientType.Seasoning</option>
                <option>@IngredientType.Other</option>
            </select><br>

        <label>Price:</label><br>
        <input type="text" @bind="IngredientPrice"><br>

        <label>Amount:</label><br>
        <input type="number" @bind="IngredientAmount" min="1"><br>

        <button type="submit">Save</button>
    </form>
}

@if (DisplayEditIngredientModal)
{
    <form @onsubmit="EditIngredient">
        <label>Name:</label><br>
        <input type="text" @bind="IngredientName" maxlength="30"><br>

        <label>Type:</label><br>
            <select @bind="IngredientType">
                <option>@IngredientType.Vegetable</option>
                <option>@IngredientType.Fruit</option>
                <option>@IngredientType.Grain</option>
                <option>@IngredientType.Legume</option>
                <option>@IngredientType.Dairy</option>
                <option>@IngredientType.Egg</option>
                <option>@IngredientType.Meat</option>
                <option>@IngredientType.Seafood</option>
                <option>@IngredientType.Poultry</option>
                <option>@IngredientType.Sweetener</option>
                <option>@IngredientType.Liquid</option>
                <option>@IngredientType.Seasoning</option>
                <option>@IngredientType.Other</option>
            </select><br>

        <label>Price:</label><br>
        <input type="text" @bind="IngredientPrice"><br>

        <label>Amount:</label><br>
        <input type="number" @bind="IngredientAmount" min="1"><br>

        <button type="submit">Save</button>
    </form>
}