@page "/recipes"
@rendermode InteractiveServer
@using RecipeApp.Classes

@code{
    private bool DisplayAddRecipeModal = false;
    private bool DisplayEditRecipeModal = false;
    private bool DisplayAddIngredientModal = false;
    private bool DisplayEditIngredientModal = false;
    private string RecipeName;
    private string RecipeInstructions;
    private RecipeGenre RecipeGenre;
    private Dictionary<Ingredient, int> RecipeIngredients = new Dictionary<Ingredient, int>();
    private string IngredientName;
    private IngredientType IngredientType;
    private decimal IngredientPrice = 0.00m;
    private int IngredientAmount = 1;
    private Ingredient? SelectedIngredient;
    private int SelectedAmount;
    private Recipe? SelectedRecipe;

    private void AddRecipeButton()
    {
        DisplayAddRecipeModal = true;
    }

    private void EditRecipeButton(Recipe recipe)
    {
        SelectedRecipe = recipe;

        RecipeName = SelectedRecipe.Name;
        RecipeInstructions = SelectedRecipe.Instructions;
        RecipeIngredients = SelectedRecipe.Ingredients;

        DisplayEditRecipeModal = true;
    }

    private void AddIngredientButton()
    {
        DisplayAddIngredientModal = true;
    }

    private void EditIngredientButton(Ingredient ingredient, int amount)
    {
        SelectedIngredient = ingredient;
        SelectedAmount = amount;

        IngredientName = SelectedIngredient.Name;
        IngredientType = SelectedIngredient.Type;
        IngredientPrice = SelectedIngredient.Price;
        IngredientAmount = SelectedAmount;

        DisplayEditIngredientModal = true;
    }

    private void DeleteIngredientButton(Ingredient ingredient)
    {
        RecipeIngredients.Remove(ingredient);
    }

    private void DeleteRecipeButton(Recipe recipe)
    {
        recipe.RemoveRecipe();
    }

    private void SaveIngredient()
    {
        if (IngredientPrice < 0.00m)
            IngredientPrice = 0.00m;

        Ingredient ingredient = new Ingredient(IngredientName, IngredientType, IngredientPrice);

        var existingIngredient = RecipeIngredients
            .FirstOrDefault(i =>
                i.Key.Name == ingredient.Name &&
                i.Key.Type == ingredient.Type &&
                i.Key.Price == ingredient.Price);

        if (existingIngredient.Key != null)
        {
            RecipeIngredients[existingIngredient.Key] += IngredientAmount;
        }
        else
        {
            RecipeIngredients.Add(ingredient, IngredientAmount);
        }

        IngredientName = string.Empty;
        IngredientType = IngredientType.None;
        IngredientPrice = 0.00m;
        IngredientAmount = 1;

        DisplayAddIngredientModal = false;
        DisplayEditIngredientModal = false;
    }

    private void EditIngredient()
    {
        if (IngredientPrice < 0.00m)
            IngredientPrice = 0.00m;

        if (SelectedIngredient != null)
        {
            SelectedIngredient.Name = IngredientName;
            SelectedIngredient.Type = IngredientType;
            SelectedIngredient.Price = IngredientPrice;

            if (RecipeIngredients.ContainsKey(SelectedIngredient))
            {
                RecipeIngredients[SelectedIngredient] = IngredientAmount;
            }
            else
            {
                RecipeIngredients.Add(SelectedIngredient, IngredientAmount);
            }
        }

        IngredientName = string.Empty;
        IngredientType = IngredientType.None;
        IngredientPrice = 0.00m;
        IngredientAmount = 1;

        DisplayAddIngredientModal = false;
        DisplayEditIngredientModal = false;
    }

    private void SaveRecipe()
    {
        Recipe recipe = new Recipe(RecipeName, RecipeInstructions, RecipeGenre, RecipeIngredients);
        recipe.AddRecipe();

        RecipeName = RecipeInstructions = string.Empty;
        RecipeIngredients = new Dictionary<Ingredient, int>();
        RecipeGenre = RecipeGenre.None;

        DisplayAddRecipeModal = false;
        DisplayEditRecipeModal = false;
        DisplayAddIngredientModal = false;
        DisplayEditIngredientModal = false;
    }

    private void EditRecipe()
    {
        if (SelectedRecipe != null)
        {
            SelectedRecipe.EditRecipe(RecipeName, RecipeInstructions, RecipeIngredients);
        }

        RecipeName = RecipeInstructions = string.Empty;
        RecipeIngredients = new Dictionary<Ingredient, int>();
        RecipeGenre = RecipeGenre.None;

        DisplayAddRecipeModal = false;
        DisplayEditRecipeModal = false;
        DisplayAddIngredientModal = false;
        DisplayEditIngredientModal = false;
    }
}

<PageTitle>Recipes</PageTitle>

<h1>Recipes</h1>

@foreach(var recipe in Classes.App.Recipes)
{
    <div class="recipe-card">
        <h2 class="recipe-card-title">@recipe.Name</h2>
        <div class="recipe-card-main-container">
            <h5 style="font-weight: bold">Genre:</h5>
            <p>@recipe.Genre.ToString()</p>
            <h5 style="font-weight: bold">Ingredients:</h5>
            @foreach (var ingredient in recipe.Ingredients)
            {
                <div class="recipe-card-individual-ingredient-display-container">
                    <p style="padding-left: 1rem; padding-right: 0.25rem">- @ingredient.Key.Name: </p>
                    @if (ingredient.Key.Type == IngredientType.Meat || ingredient.Key.Type == IngredientType.Seafood
                        || ingredient.Key.Type == IngredientType.Poultry || ingredient.Key.Type == IngredientType.Dairy
                        || ingredient.Key.Type == IngredientType.Liquid || ingredient.Key.Type == IngredientType.Grain
                        || ingredient.Key.Type == IngredientType.Legume || ingredient.Key.Type == IngredientType.Sweetener)
                    {
                        <p>@ingredient.Value.ToString() oz</p>
                    }
                    else if (ingredient.Key.Type == IngredientType.Seasoning)
                    {
                        <p>@ingredient.Value.ToString() tsp</p>
                    }
                    else
                    {
                        <p>@ingredient.Value</p>
                    }
                </div>
            }
            <h5 style="font-weight: bold; margin-top: 1rem">Instructions:</h5>
            <p>@recipe.Instructions</p>

            <button class="action-button" @onclick="() => EditRecipeButton(recipe)">Edit</button>
            <button class="action-button" @onclick="() => DeleteRecipeButton(recipe)">Delete</button>
        </div>
    </div>
}

<button class="add-button" @onclick="AddRecipeButton">Add Recipe</button>

@if (DisplayAddRecipeModal)
{
    <form class="recipe-form" @onsubmit="SaveRecipe">
        <label>Name:</label><br>
        <input type="text" @bind="RecipeName" maxlength="30" required pattern="^[A-Za-z\s]+$"
            title="Only letters and spaces allowed." class="form-input"><br>

        <label>Ingredients:</label><br>

        <table class="recipe-form-ingredients-table">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Price</th>
                <th>Amount</th>
                <th>Action</th>
            </tr>
            @foreach(var ingredient in RecipeIngredients)
            {
                <tr>
                    <td>@ingredient.Key.Name</td>
                    <td>@ingredient.Key.Type</td>
                    <td>@ingredient.Key.Price.ToString("$0.00")</td>
                    @if (ingredient.Key.Type == IngredientType.Meat || ingredient.Key.Type == IngredientType.Seafood
                        || ingredient.Key.Type == IngredientType.Poultry || ingredient.Key.Type == IngredientType.Dairy
                        || ingredient.Key.Type == IngredientType.Liquid || ingredient.Key.Type == IngredientType.Grain
                        || ingredient.Key.Type == IngredientType.Legume || ingredient.Key.Type == IngredientType.Sweetener)
                    {
                        <td>@ingredient.Value.ToString() oz</td>
                    }
                    else if (ingredient.Key.Type == IngredientType.Seasoning)
                    {
                        <td>@ingredient.Value.ToString() tsp</td>
                    }
                    else
                    {
                        <td>@ingredient.Value</td>
                    }
                    <td>
                        <button type="button" class="recipe-form-ingredients-table-buttons" @onclick="() => EditIngredientButton(ingredient.Key, ingredient.Value)">Edit</button>
                        <button type="button" class="recipe-form-ingredients-table-buttons" @onclick="() => DeleteIngredientButton(ingredient.Key)">Delete</button>
                    </td>
                </tr>
            }
        </table>

        <button class="add-button" type="button" @onclick="AddIngredientButton">Add Ingredient</button><br>

        @if(DisplayAddIngredientModal)
        {
            <form style="background-color: #ddd; padding: 1rem; border-radius: 10px;" @onsubmit="SaveIngredient">
                <label>Name:</label><br>
                <input type="text" @bind="IngredientName" maxlength="30" required pattern="^[A-Za-z\s]+$"
                    title="Only letters and spaces allowed." class="form-input"><br>

                <label>Type:</label><br>
                    <select @bind="IngredientType" required class="form-input" style="padding: 0.4rem; padding-left: 0rem">
                        <option>@IngredientType.Vegetable</option>
                        <option>@IngredientType.Fruit</option>
                        <option>@IngredientType.Grain</option>
                        <option>@IngredientType.Legume</option>
                        <option>@IngredientType.Dairy</option>
                        <option>@IngredientType.Egg</option>
                        <option>@IngredientType.Meat</option>
                        <option>@IngredientType.Seafood</option>
                        <option>@IngredientType.Poultry</option>
                        <option>@IngredientType.Sweetener</option>
                        <option>@IngredientType.Liquid</option>
                        <option>@IngredientType.Seasoning</option>
                        <option>@IngredientType.Other</option>
                    </select><br>

                <label>Price:</label><br>
                <input type="text" @bind="IngredientPrice" min="0.00" step="0.01" required class="form-input"><br>

                <label>Amount:</label><br>
                <input type="number" @bind="IngredientAmount" min="1" required class="form-input"><br>

                <div class="ingredients-form-button-container">
                    <button class="action-button" style="margin-right: 0rem; margin-left: 1rem" type="submit">Save</button>
                    <button class="action-button" style="margin-right: 1rem" @onclick="() => DisplayAddIngredientModal = false">Cancel</button>
                </div>
            </form><br>
        }

        @if (DisplayEditIngredientModal)
        {
            <form style="background-color: #ddd; padding: 1rem; border-radius: 10px;" @onsubmit="EditIngredient">
                <label>Name:</label><br>
                    <input type="text" @bind="IngredientName" maxlength="30" required pattern="^[A-Za-z\s]+$"
                        title="Only letters and spaces allowed." class="form-input"><br>

                <label>Type:</label><br>
                    <select @bind="IngredientType" required class="form-input" style="padding: 0.4rem; padding-left: 0rem">
                        <option>@IngredientType.Vegetable</option>
                        <option>@IngredientType.Fruit</option>
                        <option>@IngredientType.Grain</option>
                        <option>@IngredientType.Legume</option>
                        <option>@IngredientType.Dairy</option>
                        <option>@IngredientType.Egg</option>
                        <option>@IngredientType.Meat</option>
                        <option>@IngredientType.Seafood</option>
                        <option>@IngredientType.Poultry</option>
                        <option>@IngredientType.Sweetener</option>
                        <option>@IngredientType.Liquid</option>
                        <option>@IngredientType.Seasoning</option>
                        <option>@IngredientType.Other</option>
                    </select><br>

                <label>Price:</label><br>
                <input type="text" @bind="IngredientPrice" min="0.00" step="0.01" required class="form-input"><br>

                <label>Amount:</label><br>
                <input type="number" @bind="IngredientAmount" min="1" required class="form-input"><br>

                <div class="ingredients-form-button-container">
                    <button class="action-button" style="margin-right: 0rem; margin-left: 1rem" type="submit">Save</button>
                    <button class="action-button" style="margin-right: 1rem" @onclick="() => DisplayEditIngredientModal = false">Cancel</button>
                </div>
            </form>
        }

        <label>Genre:</label><br>
        <select @bind="RecipeGenre" required class="form-input" style="padding: 0.4rem; padding-left: 0rem">
            <option>@RecipeGenre.Breakfast</option>
            <option>@RecipeGenre.Lunch</option>
            <option>@RecipeGenre.Dinner</option>
            <option>@RecipeGenre.Dessert</option>
        </select><br>

        <label>Instructions:</label><br>
        <input type="text" @bind="RecipeInstructions" required class="form-input"><br>

        <div class="ingredients-form-button-container">
            <button class="action-button" style="margin-right: 0rem; margin-left: 1rem" type="submit">Save</button>
            <button class="action-button" style="margin-right: 1rem" @onclick="() => DisplayAddRecipeModal = false">Cancel</button>
        </div>
    </form>
}

@if (DisplayEditRecipeModal)
{
    <form class="recipe-form" @onsubmit="EditRecipe">
        <label>Name:</label><br>
        <input type="text" @bind="RecipeName" maxlength="30" required pattern="^[A-Za-z\s]+$"
            title="Only letters and spaces allowed." class="form-input"><br>

        <label>Ingredients:</label><br>

        <table class="recipe-form-ingredients-table">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Price</th>
                <th>Amount</th>
                <th>Action</th>
            </tr>
            @foreach(var ingredient in RecipeIngredients)
            {
                <tr>
                    <td>@ingredient.Key.Name</td>
                    <td>@ingredient.Key.Type</td>
                    <td>@ingredient.Key.Price.ToString("$0.00")</td>
                    @if (ingredient.Key.Type == IngredientType.Meat || ingredient.Key.Type == IngredientType.Seafood
                        || ingredient.Key.Type == IngredientType.Poultry || ingredient.Key.Type == IngredientType.Dairy
                        || ingredient.Key.Type == IngredientType.Liquid || ingredient.Key.Type == IngredientType.Grain
                        || ingredient.Key.Type == IngredientType.Legume || ingredient.Key.Type == IngredientType.Sweetener)
                    {
                        <td>@ingredient.Value.ToString() oz</td>
                    }
                    else if (ingredient.Key.Type == IngredientType.Seasoning)
                    {
                        <td>@ingredient.Value.ToString() tsp</td>
                    }
                    else
                    {
                        <td>@ingredient.Value</td>
                    }
                    <td>
                        <button type="button" class="recipe-form-ingredients-table-buttons" @onclick="() => EditIngredientButton(ingredient.Key, ingredient.Value)">Edit</button>
                        <button type="button" class="recipe-form-ingredients-table-buttons" @onclick="() => DeleteIngredientButton(ingredient.Key)">Delete</button>
                    </td>
                </tr>
            }
        </table>

        <button class="add-button" type="button" @onclick="AddIngredientButton">Add Ingredient</button><br>

        @if(DisplayAddIngredientModal)
        {
            <form style="background-color: #ddd; padding: 1rem; border-radius: 10px;" @onsubmit="SaveIngredient">
                <label>Name:</label><br>
                <input type="text" @bind="IngredientName" maxlength="30" required pattern="^[A-Za-z\s]+$"
                       title="Only letters and spaces allowed." class="form-input"><br>

                <label>Type:</label><br>
                    <select @bind="IngredientType" required class="form-input" style="padding: 0.4rem; padding-left: 0rem">
                        <option>@IngredientType.Vegetable</option>
                        <option>@IngredientType.Fruit</option>
                        <option>@IngredientType.Grain</option>
                        <option>@IngredientType.Legume</option>
                        <option>@IngredientType.Dairy</option>
                        <option>@IngredientType.Egg</option>
                        <option>@IngredientType.Meat</option>
                        <option>@IngredientType.Seafood</option>
                        <option>@IngredientType.Poultry</option>
                        <option>@IngredientType.Sweetener</option>
                        <option>@IngredientType.Liquid</option>
                        <option>@IngredientType.Seasoning</option>
                        <option>@IngredientType.Other</option>
                    </select><br>

                <label>Price:</label><br>
                <input type="text" @bind="IngredientPrice" min="0.00" step="0.01" required class="form-input"><br>

                <label>Amount:</label><br>
                <input type="number" @bind="IngredientAmount" min="1" required class="form-input"><br>

                <div class="ingredients-form-button-container">
                    <button class="action-button" style="margin-right: 0rem; margin-left: 1rem" type="submit">Save</button>
                    <button class="action-button" style="margin-right: 1rem" @onclick="() => DisplayAddIngredientModal = false">Cancel</button>
                </div>
            </form><br>
        }

        @if (DisplayEditIngredientModal)
        {
            <form style="background-color: #ddd; padding: 1rem; border-radius: 10px;" @onsubmit="EditIngredient">
                <label>Name:</label><br>
                    <input type="text" @bind="IngredientName" maxlength="30" required pattern="^[A-Za-z\s]+$"
                       title="Only letters and spaces allowed." class="form-input"><br>

                <label>Type:</label><br>
                    <select @bind="IngredientType" required class="form-input" style="padding: 0.4rem; padding-left: 0rem">
                        <option>@IngredientType.Vegetable</option>
                        <option>@IngredientType.Fruit</option>
                        <option>@IngredientType.Grain</option>
                        <option>@IngredientType.Legume</option>
                        <option>@IngredientType.Dairy</option>
                        <option>@IngredientType.Egg</option>
                        <option>@IngredientType.Meat</option>
                        <option>@IngredientType.Seafood</option>
                        <option>@IngredientType.Poultry</option>
                        <option>@IngredientType.Sweetener</option>
                        <option>@IngredientType.Liquid</option>
                        <option>@IngredientType.Seasoning</option>
                        <option>@IngredientType.Other</option>
                    </select><br>

                <label>Price:</label><br>
                <input type="text" @bind="IngredientPrice" min="0.00" step="0.01" required class="form-input"><br>

                <label>Amount:</label><br>
                <input type="number" @bind="IngredientAmount" min="1" required class="form-input"><br>

                <div class="ingredients-form-button-container">
                    <button class="action-button" style="margin-right: 0rem; margin-left: 1rem" type="submit">Save</button>
                    <button class="action-button" style="margin-right: 1rem" @onclick="() => DisplayEditIngredientModal = false">Cancel</button>
                </div>
            </form>
        }

        <label>Genre:</label><br>
        <select @bind="RecipeGenre" required class="form-input" style="padding: 0.4rem; padding-left: 0rem">
            <option>@RecipeGenre.Breakfast</option>
            <option>@RecipeGenre.Lunch</option>
            <option>@RecipeGenre.Dinner</option>
            <option>@RecipeGenre.Dessert</option>
        </select><br>

        <label>Instructions:</label><br>
        <input type="text" @bind="RecipeInstructions" required class="form-input"><br>

        <div class="ingredients-form-button-container">
            <button class="action-button" style="margin-right: 0rem; margin-left: 1rem" type="submit">Save</button>
            <button class="action-button" style="margin-right: 1rem" @onclick="() => DisplayEditRecipeModal = false">Cancel</button>
        </div>
    </form>
}